{{- with .Values }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .name }}-node
  labels:
    app: {{ .name }}-node
spec:
  selector:
    matchLabels:
      app: {{ .name }}-node
  template:
    metadata:
      labels:
        app: {{ .name }}-node
    spec:
      containers:
        # Node Registration
        - name: csi-driver-registrar
          image: quay.io/k8scsi/csi-node-driver-registrar:v1.2.0
          args:
            - "-v=10"
            - "--csi-address=/csi/csi.sock"
            - "--kubelet-registration-path=/var/lib/kubelet/plugins/csi.xcpng.arturonet.com/csi.sock"
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "rm -rf /registration/csi.xcpng.arturonet.com /registration/csi.xcpng.arturonet.com-reg.sock"]
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration
          securityContext:
            privileged: true
        #Node
        - name: {{ .name }}-node
          image: {{ .image }}
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "rm -rf /csi/csi.sock"]
          env:
            - name: XCPNG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .secret }}
                  key: xcpng-password
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CSI_ENDPOINT
              value: /csi/csi.sock
            - name: CSI_MODE
              value: node
            # Fixes bug where goCSI was returning InvalidArgument on NodePublishVolume
            - name: X_CSI_SPEC_DISABLE_LEN_CHECK
              value: "false"
            # Fixes bug where goCSI was returning InvalidArgument on NodePublishVolume
            - name: X_CSI_SPEC_REQ_VALIDATION
              value: "false"
          envFrom:
            - configMapRef:
                name: {{ .config }}
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: mountpoint-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
            - name: device-dir
              mountPath: /dev
            - name: plugins-dir
              mountPath: /var/lib/kubelet/plugins
              mountPropagation: Bidirectional
          securityContext:
            privileged: true
      volumes:
        - name: device-dir
          hostPath:
            path: /dev
            type: Directory
        - name: plugins-dir
          hostPath:
            path: /var/lib/kubelet/plugins
            type: DirectoryOrCreate
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi.xcpng.arturonet.com
            type: DirectoryOrCreate
        - name: mountpoint-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: DirectoryOrCreate
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
{{- end }}
